venv*
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env.*
.DS_Store
.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.egg
*.egg-info/
dist/